@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* DEFAULT FONT */
body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  background-color: #dedede;
}